name: Auto生成README.MD

on:
  push:
    branches: [ main ]
    schedule:
#*      - cron: '* * * * *'
  watch:
    types: started

jobs:
  build:
    runs-on: ubuntu-latest
    if: github.event.repository.owner.id == github.event.sender.id

    steps:
      - uses: actions/checkout@v2
      - name: 初始化Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.7
      - name: 运行生成README.MD脚本
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          python3 gitToc.py targetFile.md
          python gitToc.py targetFile.md <<EOF


